# Python
__pycache__/
*.py[cod]
*.class

# Distributions
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
